# 두 정수 사이의 합

In [2]:
# 1~10(10 포함) 뽑고 싶다면. range(1,11)로 해야함.
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [1]:
def solution(a, b):
    answer = 0
    if a==b:
        return a
    elif a > b:
        for i in range(b, a+1):
            answer += i
        return answer
    else:
        for i in range(a, b+1):
            answer += i
        return answer

In [4]:
solution(5,3)

12

# 수박수박수박수박수박수?

In [5]:
'수박'*2

'수박수박'

In [8]:
('수박'*2)+'수'

'수박수박수'

In [17]:
def solution(n):
    answer=''
    if n & 2 == 0:
        answer = '수박'*(n // 2)
        return answer
    else:
        answer = ('수박'*(n // 2)) + '수'
        return answer

In [18]:
solution(3)

'수박수'

In [19]:
solution(4)

'수박수박'

In [20]:
def solution(n):
    answer=''
    if n % 2 == 0:
        answer = '수박'*(n // 2)
        return answer
    else:
        answer = ('수박'*(n // 2)) + '수'
        return answer

In [21]:
solution(3)

'수박수'

In [22]:
solution(4)

'수박수박'

# 서울에서 김서방 찾기

In [24]:
# index 값 찾기
seoul=["Jane", "Kim"]
print(seoul.index("Kim"))

1

In [27]:
a = 1
print("김서방은 {}에 있다".format(a))

김서방은 1에 있다

In [51]:
seoul=["Jane", "Su","Kim"]

for i in seoul:
    if i == 'Kim':
        print("김서방은 {}에 있다".format(seoul.index(i)))

김서방은 2에 있다

In [66]:
seoul=["Jane", "Su","Kim"]

def solution(seoul):
    answer = ''
    for i in seoul:
        if i == 'Kim':
            answer = seoul.index(i)
            return ('김서방은 {}에 있다'.format(answer))

In [67]:
solution(seoul)

'김서방은 2에 있다'

# 약수의 합

In [36]:
n = 5

In [37]:
lst = []

for i in range(1,n+1):
    if n % i == 0:
        lst.append(i)
        
sum(lst)

6

In [38]:
def solution(n):
    answer = 0
    for i in range(1,n+1):
        if n % i == 0:
            answer = answer + i
    return answer

In [39]:
solution(n)

6